<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ title }} - Geodash</title>
  <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
</head>
<body>
  <div id="navbar">
    <ul id="navbar-list">
      <li><a id="navbar-logo" href={{ url_for('index') }}>Geodash</a></li>
      <li><a id="github-link" href="https://github.com/Diego17230/geometry_dash" target="_blank">GitHub</a></li>
      <li><a class="select" href="{{ url_for('index') }}">Play!</a></li>
      <li><a class="select" href="{{ url_for('index') }}">Watch</a></li>
    </ul>
  </div>
  {% block content %}{% endblock %}
</body>
</html>
