{% extends "base.html" %}

{% block content %}
<h1 id="main-header">A game made by Madoc, Tanner, and Diego.</h1>
<p>To begin, click the download button! If you want to see a bot play the game for you, click watch! Unfortunately, the game can't be hosted <br> on <a href="https://trinket.io/">Trinket</a>, a service that can embed turtle and pygame scripts into websites, as it requires a paid subscription to use with pygame.</p>
<div class="container">
  <img id="geodash-gif" src="{{ url_for('static', filename='images/math.png') }}" alt="image" width="900" height="500">
  <p id="gif-subtitle">Gamplay footage</p>
</div>
{% endblock %}
